{% extends 'base.html' %}

{% block content %}
    <h2>Confirmar Exclusão de Motorista</h2>
    <p>Você tem certeza que deseja excluir o motorista: <strong>{{ motorista.nome }} (CPF: {{ motorista.cpf }})</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        {# MUDANÇA AQUI: Redirecionar para detalhes_motorista #}
        <a href="{% url 'notas:detalhes_motorista' motorista.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}