{% extends 'base.html' %}

{% block content %}
    <h2>Confirmar Exclusão de Nota Fiscal</h2>
    <p>Você tem certeza que deseja excluir a nota fiscal: <strong>{{ nota.nota }}</strong> do cliente <strong>{{ nota.cliente.razao_social }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        {# MUDANÇA AQUI: Redirecionar para detalhes_nota_fiscal #}
        <a href="{% url 'notas:detalhes_nota_fiscal' nota.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}