{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Motoristas</h2>
    <a href="{% url 'notas:adicionar_motorista' %}" class="btn btn-primary mb-3">Adicionar Novo Motorista</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for motorista in motoristas %}
                <tr>
                    <td>{{ motorista.nome }}</td>
                    <td>{{ motorista.cpf }}</td>
                    <td>{{ motorista.celular }}</td>
                    <td>
                        <a href="{% url 'notas:editar_motorista' motorista.pk %}" class="btn btn-sm btn-info">Editar</a>
                        <a href="{% url 'notas:excluir_motorista' motorista.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhum motorista cadastrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}