{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <p>Teste do widget de agenda de entregas</p>
            
            <!-- Widget de Agenda -->
            {% include 'notas/widgets/widget_agenda_entregas.html' %}
            
            <div class="mt-4">
                <a href="{% url 'notas:dashboard' %}" class="btn btn-primary">Voltar ao Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
